body {
  padding-bottom: 4em;
}

h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  margin-top: 2em;
}

h1 > .small-heading {
  font-size: 0.6em;
}

p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

.text-center {
  text-align: center;
}

.aeropress {
  margin: 7em auto 0 auto;
  width: 104px;
  height: 400px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.aeropress.invert {
  transform: rotate(180deg);
}

.aeropress .chamber {
  position: absolute;
  border: 2px solid #333;
  border-top: none;
  width: 100px;
  height: 200px;
}

.aeropress .chamber:before {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 120px;
  height: 6px;
  top: -10px;
  left: -12px;
  border-radius: 4px;
}

.aeropress .coffee-grounds {
  position: absolute;
  width: 102px;
  bottom: 38px;
  height: 50px;
  left: -1px;
  z-index: -1;
}

.aeropress .heat-lines:before {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 10px;
  left: -30px;
  width: 0px;
  height: 40px;
  transform: rotate(-10deg);
}

.aeropress .heat-lines {
  position: absolute;
  border: 1px solid #333;
  top: -80px;
  left: 50px;
  width: 0px;
  height: 50px;
}

.aeropress .heat-lines:after {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 10px;
  left: 30px;
  width: 0px;
  height: 40px;
  transform: rotate(10deg);
}

.aeropress .coffee-sludge {
  position: absolute;
  background-color: #563821;
  width: 102px;
  bottom: 38px;
  height: 162px;
  left: -1px;
  z-index: -1;
}

.aeropress .plunger {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 80px;
  height: 200px;
  left: 8px;
  top: 190px;
}

.aeropress .plunger.down {
  top: 28px;
}

.aeropress .plunger:before {
  content: '';
  position: absolute;
  border-top: 30px solid #333;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 84px;
  left: -10px;
  top: -30px;
}

.aeropress .plunger:after {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 110px;
  height: 6px;
  left: -16px;
  bottom: -10px;
  border-radius: 4px;
}

.cup-wpr {
  margin: 0 auto;
  margin-top: 9px;
  width: 130px;
  height: 130px;
}

.cup {
  position: absolute;
  border: 2px solid #333;
  width: 126px;
  height: 130px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #fff;
}

.cup:before {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 40px;
  height: 50px;
  right: -30px;
  top: 15px;
  border-radius: 50%;
  z-index: -1;
}

.cup:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #333;
  width: 100px;
  height: 30px;
  left: 15px;
  bottom: -3px;
}

.coffee {
  position: absolute;
  background-color: #563821;
  left: -2px;
  top: 22px;
  width: 130px;
  height: 110px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.hidden {
  display: none;
}

.offscreen {
  left: 9999px !important;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.8em;
  }
}
