html {
  height: 110%;
}

body {
  padding-bottom: 4em;
}

h1 {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 2em;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  margin-top: 1.5em;
}

h1 > .small-heading {
  font-size: 0.6em;
}

p {
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 23px;
}

.text-center {
  text-align: center;
}

.aeropress {
  margin: 6em auto 0 auto;
  width: 104px;
  height: 400px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.aeropress.down {
  transition: height 1000ms;
  height: 240px;
}

.aeropress.invert {
  transform: rotate(180deg);
  margin-top: 1em;
}

.aeropress.invert:not(.down) {
  transition: transform 1000ms;
}

.aeropress.invert .coffee-sludge {
  top: 0;
}

.aeropress .chamber {
  position: absolute;
  border: 2px solid #333;
  border-top: none;
  width: 100px;
  height: 200px;
}

.aeropress .chamber:before {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 120px;
  height: 6px;
  top: -10px;
  left: -12px;
  border-radius: 4px;
}

.aeropress .coffee-grounds {
  transition: opacity 300ms ease, visibility 300ms ease;
  visibility: visible;
  opacity: 100;
  position: absolute;
  width: 102px;
  bottom: 38px;
  height: 50px;
  left: -1px;
  z-index: -1;
}

.aeropress .heat-lines:before {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 10px;
  left: -30px;
  width: 0px;
  height: 40px;
  transform: rotate(-10deg);
}

.aeropress .heat-lines {
  transition: opacity 1000ms ease, visibility 1000ms ease;
  visibility: visible;
  opacity: 100;
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: -80px;
  left: 50px;
  width: 0px;
  height: 50px;
}

.aeropress .heat-lines:after {
  content: "";
  position: absolute;
  border: 1px solid #333;
  top: 10px;
  left: 30px;
  width: 0px;
  height: 40px;
  transform: rotate(10deg);
}

.aeropress .coffee-sludge {
  overflow-y: hidden;
	max-height: 162px; /* approximate max height */
	transition-property: all;
	transition-duration: 1000ms;
  
  position: absolute;
  background-color: #563821;
  width: 102px;
  bottom: 38px;
  height: 162px;
  left: -1px;
  z-index: -1;
}

.aeropress .plunger {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 80px;
  height: 200px;
  left: 8px;
  top: 189px;
}

.aeropress .plunger.down {
  top: 28px;
  transition: top 1000ms;
}

.aeropress .plunger:before {
  content: '';
  position: absolute;
  border-top: 30px solid #333;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	width: 84px;
  left: -10px;
  top: -30px;
}

.aeropress .plunger:after {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 110px;
  height: 6px;
  left: -16px;
  bottom: -10px;
  border-radius: 4px;
}

.cup-wpr {
  transition: opacity 300ms ease, visibility 300ms ease;
  visibility: visible;
  opacity: 100;
  margin: 0 auto;
  margin-top: 9px;
  width: 130px;
  height: 130px;
}

.cup {
  position: absolute;
  border: 2px solid #333;
  width: 126px;
  height: 130px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  background-color: #fff;
}

.cup:before {
  content: '';
  position: absolute;
  border: 2px solid #333;
  width: 40px;
  height: 50px;
  right: -30px;
  top: 15px;
  border-radius: 50%;
  z-index: -1;
}

.cup:after {
  content: '';
  position: absolute;
  border-bottom: 2px solid #333;
  width: 100px;
  height: 30px;
  left: 15px;
  bottom: -3px;
}

.coffee {
  overflow-y: hidden;
	max-height: 110px; /* approximate max height */
	transition-property: all;
	transition-duration: 1000ms;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  
  position: absolute;
  background-color: #563821;
  left: -2px;
  bottom: 0;
  width: 130px;
  height: 110px;
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.reset-wpr {
  margin: 1em 0;
  text-align: center;
}

.hidden {
  visibility: hidden !important;
  opacity: 0 !important;
}

.hidden-slider {
  max-height: 0 !important;
}

@media (max-width: 640px) {
  h1 {
    font-size: 1.8em;
    margin-top: 1em;
  }
}
